@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto');

// base styles
body {
  font-family: "Open Sans", sans-serif;
}

p {
  margin-top: 0;
}

h1 {
  color: #CCC;
  font-size: 5.0rem;
  line-height: 1.2;
  weight: 300;
  letter-spacing: -.1rem;
  margin-bottom: 2rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}


figure {
  margin: auto;
}

.content {
  position: relative;
  z-index: 2;
  background: #FFF;
  margin-bottom: 400px;

  article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }
}

header {
  position: relative;
  height: 400px;
  background: url(../img/re.jpg);
  background-attachment: fixed;
  background-size: auto 400px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;

  .logo {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin: -50px 0;
    text-align: center;
    font-family: "Indie Flower";
    h1 {
      color: #03C4D8;
      font-size: 2em;
    }

    h2 {
      color: #03C4D8;
      font-size: 1.5em;
    }
  }
}

nav {
  text-align: center;
  padding: 20px;
  background: #099DEF;
  position: relative;
  z-index: 3;
  width: 100%;

  &:after {
    display: table;
    content: "";
    clear: both;
  }

  .bar-list {
    list-style: none;
    float: left;

    .bar-item {
      float: left;
      padding-right: .9rem;

      .bar-anchor {
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 7px;

        &.name {
          font-weight: bold;
        }

        &:before {
          content: "";
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #08E57E;
          transition: all .7s ease-in-out;
        }

        &:hover:before {
          width: 100%;
        }
      }
    }
  }
}

//fixed nav
.fixed-nav {
  nav {
    -webkit-transform: translate3d(0,0,0);
    position : fixed;
    top : 0;
    box-shadow: 0 3px rgba(0,0,0,0.5);

    .bar-anchor {
      position: fixed;
    }
  }
}


// about
#about {
  position: relative;
  .row {
    .round {
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
      figure {
        img {
          width: 100%;
        }
      }
    }

    p {
      position: absolute;
      top: 50%;
      margin-top: 46px;
    }
  }
}

//recent projects
.posts {
  margin-top: 100px;

  .post {
    border: 1px solid #E1E1E1;
    padding: 20px 20px 0;
    background: #FFF;
    position: relative;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    &.is-showing {
      opacity: 1;
      transform: translateX(0px);
    }

    p {
      min-height: 180px;
    }
  }

  img {
    width: 100%;
  }

}
.cta-button {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-color: #888;
    color: #888;
    transform: scale(1.02);
  }
}

//skills
#skills {

  .skill-set {
    position: relative;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    &.is-drop {
      opacity: 1;
      transform: translateY(0px);
    }

    ul {
      li {
        list-style: none;
        border-top: 1px solid #888;
        border-bottom: 1px solid #888;
        padding: 10px 0 10px 5px;
        &:nth-child(even) {
          background: #EEE;
        }
      }
    }
  }
}

// contact
#contact {
  form {
    label {
      text-align: left;
      font-weight: 600;
      display: block;
      margin-bottom: 1rem;
    }

    input, textarea {
      height: 40px;
      border: 1px solid #EEE;
      display: inline-block;
      width: 100%;
      padding: 5px 10px;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: none;
      margin-bottom: 1rem;

      &:focus {
        border: 1px solid #54A1F7;
      }

      &.cta-button {
        font-size: 20px;
        background: none;
        display: inline-block;
        text-decoration: none;
        color: #000;
        border: 1px solid #000;
        padding: 10px 20px;
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
        width: 48%;
        float: left;
        &:hover {
          border-color: #888;
          color: #0074D9;
          box-shadow: 0px 0px 0px 1px #0074D9 inset, 0px 0px 0px 2px white inset
        }
      }
    }

    input, textarea {
      appearance: none;
    }

    textarea {
      display: inline-block;
      width: 100%;
      padding: 5px 10px;
      height: 60px;
    }

    button {
      display: inline-block;
      width: 100%;
      margin-top: 1.4rem;
    }
  }
}

// footer
footer {
  // background: #099DEF;
  background: #000;
  color: #FFF;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  width: 100%;

  .footer-stuff {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: #FFF;

    img {
      width: 25px;
      height: auto;
      float: right;
      margin: 0 10px;
    }
  }
}

//modal
@keyframes zoom {
  from {transform:scale(0)}
  to {transform: scale(1)}
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.9);
  animation-name: zoom;
  animation-duration: 0.6s;
  overflow: none;

  .mod-img {
    margin: auto;
    width: 80%;
    height: 80%;
    display: block;
    padding-top: 75px;
  }

  .cls-btn {
    position: absolute;
    top: 15px;
    right: 35px;
    cursor: pointer;
    font-weight: 700;
    font-size: 40px;
    color: #FFF;
    transition: 0.3s;
  }
}

.m-open {
  overflow: hidden;
}

// text align classes
.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

// from skeleton
.columns {
  @media (min-width: 550px) {
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin-left: 4%;
  }

  &:first-child {
    @media (min-width: 550px) {
      margin-left: 0;
    }
  }
}

.four {
  @media (min-width: 550px) {
    max-width: 30.666666667%;
  }
}

.six {
  @media (min-width: 550px) {
    max-width: 48%;
  }
}

.eight {
  @media (min-width: 550px) {
    max-width: 65.333333333333%;
  }
}

.row:after {
  @media (min-width: 550px) {
    content: "";
    display: table;
    clear: both;
  }
}
